<h2 class="bg-light mb-2 text-center mt-3">Update Product</h2>
<form (ngSubmit)="updateProduct(updateProductForm)" #updateProductForm="ngForm"
    style="border: 1px solid #8980b3 ;background-color:rgb(223 223 226); padding: 10px;">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="v">Product Name</label>
            <input type="text" class="form-control" value="Enter Product Name" id="v" required name="productName"
                [(ngModel)]="productData.productName">
        </div>
        <div class="col-md-6 mb-3">
            <label for="v2">Category Id</label>
            <input type="text" class="form-control" id="v2" required name="productCategory"
                [(ngModel)]="productData.categoryId">
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationServer03">Description</label>
            <textarea type="text" class="form-control" placeholder="Enter Product Description" required
                name="productDescription" id="validationServer03" [(ngModel)]="productData.description">
        </textarea>
        </div>
        <div class="col-md-6 mb-3">
            <label for="rating">Rating</label>
            <select class="custom-select" required name="productRating" id="rating" [(ngModel)]="productData.rating">
                <option selected value="">Choose...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationServer01">Product Color</label>
            <input type="text" class="form-control" value="Enter Product Name" id="validationServer01" required
                name="productColor" [(ngModel)]="productData.color">
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationServer02">Is Available</label>
            <select class="custom-select" required name="productAvailable" id="validationServer02"
                [(ngModel)]="productData.isAvailable">
                <option selected value="">Choose...</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationServ">Product Price</label>
            <input type="text" class="form-control" id="validationServ" value="Enter Product Name" required
                name="productPrice" [(ngModel)]="productData.price">
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationser">Reviews</label>
            <select class="custom-select" required id="validationser" name="productReview"
                [(ngModel)]="productData.reviews">
                <option selected value="">Choose...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="v7">Product image</label>
            <input type="text" class="form-control" id="v7" required name="productImage"
                [(ngModel)]="productData.productImg">
        </div>
    </div>

    <button class="btn btn-primary" style="width: 100%;" type="submit">Update</button>
</form>